body {
  background-color: whitesmoke;
  color: black;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 74px;
}

p {
  font-family: "basic-sans", sans-serif;
  font-style: normal;
  font-size: 20px;
}

div.pp {
  display:inline-block;
}